<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
   
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../Assets/slide1.png" alt="...">
        <div class="carousel-caption">
            <h3></h3>
        </div>
      </div>
      <div class="item">
        <img src="../Assets/slide2_image.png" alt="...">
        <div class="carousel-caption">
            <h3></h3>
        </div>
      </div>
      <div class="item">
        <img src="../Assets/slide3_image.png" alt="...">
        <div class="carousel-caption">
            <h3></h3>
        </div>
      </div>

      <div class="item">
        <img src="../Assets/slide4_image.png" alt="...">
        <div class="carousel-caption">
            <h3></h3>
        </div>
      </div>
    </div>

     <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Main Carousel -->

  <div class="container-mobile">
    <div id="carousel-mobile" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-mobile" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-mobile" data-slide-to="1"></li>
        <li data-target="#carousel-mobile" data-slide-to="2"></li>
        <li data-target="#carousel-mobile" data-slide-to="3"></li>
      </ol>
     
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/Collagen.png" alt="Collagen">
          <div class="carousel-caption">
              <h3></h3>
          </div>
        </div>
        <div class="item">
          <img src="assets/Subscribe.png" alt="...">
          <div class="carousel-caption">
              <h3></h3>
          </div>
        </div>
        <div class="item">
          <img src="assets/StarterKit.png" alt="...">
          <div class="carousel-caption">
              <h3></h3>
          </div>
        </div>

        <div class="item">
          <img src="assets/Greens.png" alt="...">
          <div class="carousel-caption">
              <h3></h3>
          </div>
        </div>
      </div>

       <!-- Controls -->
      <a class="left carousel-control" href="#carousel-mobile" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-mobile" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> <!-- Carousel -->
  </div>  

 