<div class="fblike">
<iframe src="//www.facebook.com/plugins/like.php?href={{ shop.url }}{{ like.url }}&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=40&amp;appId=886133768067897" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:40px;" allowTransparency="true"></iframe>
</div>